h1,h2,h3 {
    line-height:1.2
}

body {
	margin: 5% auto;
	background: var(--bkg-color);
	color: var(--text-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.8;
	text-shadow: 0 1px 0 var(--shadow-color);
	max-width: 73%;
}

a {
	border-bottom: 1px solid #444444;
	color: var(--text-color);
	text-decoration: none;
}

a:hover {
	border-bottom: 0;
}
        
code {
    text-shadow: none;
}
pre {
	background: var(--bkg-color) !important;
    overflow: auto;
    width: 100%;
    display: inline-block;
}

nav {
    text-decoration: none;
    list-style-type: none;
    display: none;

    position: fixed;
    width: 10%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

@media (min-width:1060px) {
    nav {
        display: block
    }
}

body, pre {
  --text-color: #444444;
  --bkg-color: #f2f2f2;
  --shadow-color: #ffffff;
}

/* Dark theme colors */
body.dark-theme, body.dark-theme pre {
  --text-color: #eee;
  --bkg-color: #121212;
  --shadow-color: #000000;
}

/* Styles for users who prefer dark mode at the OS level */
@media (prefers-color-scheme: dark) {
  /* defaults to dark theme */
  body, body pre { 
    --text-color: #eee;
    --bkg-color: #121212;
    --shadow-color: #000000;
  }
  /* Override dark mode with light mode styles if the user decides to swap */
  body.light-theme, body.light-theme pre {
    --text-color: #444444;
    --bkg-color: #f2f2f2;
    --shadow-color: #ffffff;
  }
}
