<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">-->
  <link rel="stylesheet" href={{ get_url(path="style.css") }} />
  <link rel="manifest" href="manifest.json">
  {% block head %}
  <title>{% block title %}{% endblock title %}</title>
  {% endblock head %}
</head>

<body>
  <nav>
    <button class="btn-toggle">Toggle Dark-Mode</button>
    {% block nav %} {% endblock %}
  </nav>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

<script>
const btn = document.querySelector(".btn-toggle");
const prefersDarkScheme = window.matchMedia("(prefers-color-scheme: dark)");
// Listen for a click on the button 
btn.addEventListener("click", function() {
  // If the OS is set to dark mode...
  if (prefersDarkScheme.matches) {
    // ...then apply the .light-theme class to override those styles
    document.body.classList.toggle("light-theme");
    // Otherwise...
  } else {
    // ...apply the .dark-theme class to override the default light styles
    document.body.classList.toggle("dark-theme");
  }
});
</script>

</html>

