{% extends "base.html" %}


{% block content %}
<div class="search-container">
<input id="search" type="search" placeholder="🔎 Search the notes">

<div class="search-results">
<div class="search-results__items"></div>
</div>
</div>

<h1 class="title">
This is my blog made with Zola.
</h1>
<p>Click <a href="/skola/">here</a> to see my notes.</p>


<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="app.js") }}"></script>
{% endblock content %}
