{% extends "base.html" %}

{% block title %}{{page.title}}{% endblock title %}

{% block nav %}
<ul>
{% for h1 in page.toc %}
    <li>
        <a href="{{h1.permalink | safe}}">{{ h1.title }}</a>
        {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                    <li>
                        <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% endblock nav %}

{% block content %}
<p>{{ page.content | safe }}</p>
{% endblock content %}
