{% extends "base.html" %}

{% macro toc(sect) %}
	{% if sect.pages %}
		{% for page in sect.pages | reverse %}
			<li> <a href={{ page.permalink }} >{{ page.title }}</a> </li>
		{% endfor %}	
	{% endif %}
	{% if sect.subsections %}
		{% for s in sect.subsections %}
			{% set s = get_section(path=s) %}
			<li> {{ s.title }} </li>
			<ul>
			{{ self::toc(sect=s) }}
			</ul>
		{% endfor %}
	{% endif %}
{% endmacro toc %}

{% block content %}
<div class="search-container">
<input id="search" type="search" placeholder="🔎 Search the notes">

<div class="search-results">
<div class="search-results__items"></div>
</div>
</div>

<h1 class="title">
This are my school notes.
</h1>

<ul>
{{ self::toc(sect=section) }}
</ul>

<script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search_index.en.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="search.js") }}"></script>
<script type="text/javascript" src="{{ get_url(path="app.js") }}"></script>
{% endblock content %}

